<!DOCTYPE html>
<html lang="en">
<head>
  <title>Townstage Bootstrap Example App</title>
  <link href="assets/app.css" rel="stylesheet" />
</head>
<body>
  <div class="navbar">
    <div class="container">
      <a href="/" class="mark">Townstage Bootstrap</a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href class="dropdown-toggle">Dropdown</a>
          <ul class="nav dropdown-nav">
            <li><a href>test@example.com</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
