<!DOCTYPE html>
<html lang="en">
<head>
  <title>Townstage Bootstrap Example App</title>
  <link href="assets/app.css" rel="stylesheet" />
</head>
<body>
  <div class="navbar">
    <div class="container">
      <a href="/" class="mark">Townstage Bootstrap</a>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
