.button {
  background-color: #49f;
  border: none;
  color: rgba(#fff, .9);
  display: inline-block;
  line-height: 30px;
  margin: 0;
  height: 30px;
  padding: 0 10px;
  font-size: inherit;
  cursor: pointer;
  @include border-radius(2px);
  &:hover, li.active & {
    color: #fff;
    text-decoration: none;
    background-color: darken(#49f, 10%);
  }
}
